<html>
	<haed>
	<title>Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</>
			<h2><a href="">My first post</></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestilum. Donec id elit non mi porta gravia at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum ibh, ut fermentum massa justo st amet risus.</p>
		</div>

		<div>
			<p>published: 14.06.2014, 12:4</p>
			<h2><a href="">My econd post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
		</div>
	</body>
</html>
